@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    background-color: #202225;
    padding: 0;
    margin: 0;
    font-family: Poppins, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.Toastify__toast-container {
    width: auto !important;
}

.Toastify__toast {
    border-radius: 10px !important;
    padding: 16px !important;
}

.Toastify__toast-body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600 !important; /* Change the font weight to 600 */
}

.Toastify__toast-theme--dark {
    background-color: #353840 !important;
    color: #fff !important;
}

.Toastify__close-button > svg {
    display: none;
}

.highcharts-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-family: Poppins, sans-serif;
}
.highcharts-tooltip > p {
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.highcharts-tooltip > span {
    color: #7a838a;
    font-size: 14px;
}

.without-ring {
    @apply focus:ring-0 focus:ring-offset-0;
}

.no-spin-buttons::-webkit-outer-spin-button,
.no-spin-buttons::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
